body, html {
  background-color: rgb(216, 161, 238);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
  color: rgb(181, 56, 185);
}

h4 {
  color: rgb(181, 56, 185);
}
